p.off{border:1px solid greenyellow;color:#ffffff;background-color: greenyellow;padding:2px;display:inline;}
footer p.bookname{display:inline;font-weight:bold;font-size:15px;}
.carthead{padding: 25px 0px;width:100%;text-align:center;margin-left:2px;margin-top:10px;display:inline-flex;border-top:1px solid black;border-bottom:1px solid black;}
.firstbtn{font-size:20px;color:#ffffff;margin:0px 80px;background-color: greenyellow;padding:12px;border:1px solid greenyellow;}

.secondbtn{position:relative;font-size:20px;float:right;color:#ffffff !important;margin:0px 80px;border-radius: 3px;background-color: lightskyblue;padding: 12px;border:1px solid lightskyblue;float:right;}
@media screen and (max-width:765px){
  h2.carthead,.secondbtn,.firstbtn{margin:0px 5px;}
}
img.cartimg{width:57%;height:120px;}
a.btnlink{color:#ffffff !important;}
a.btnlink:hover{text-decoration: none;color:blue !important;}
.four{text-align:center;margin:20px auto;}
.newcart{background-color:#ffffff;margin:0px;border:1px solid grey;padding:0 !important;}
footer p.bookprice{font-weight:bold;margin:1px 2px;font-size:15px;}
footer p.booktype{margin-top:1px 2px;font-size:15px;}
footer{border:1px solid transparent;padding:2px;margin-top:10px;background-color: #e3e5e8;}
button.tocart{color:#12abdb;border-radius:3px;border:1px solid #12abdb;background-color: white;font-size:15px;}
.dot {
    position:absolute;
    top:0%;
    height: 25px;
    width: 25px;
    background-color: wheat;
    border-radius: 50%;
    display: inline-block;
  }