<!-- <div class="container-fluid">
  <div class="row">
  <div class="col">
    1 of 3
  </div>
  <div class="col">
    2 of 3
  </div>
  <div class="col">
    3 of 3
  </div>
</div>
</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row carthead">
  
    <h2 style="margin-left:18px;" class="cartheader">All Items</h2>
    <button class="firstbtn" style="">Item 2 is added to cart</button>
    <button class="secondbtn" style=""><a class="btnlink" href="goto">Go To Cart<span class="dot">5</span></a></button>
  
</div>
   <div class="row four">
   
     
    <div *ngFor="let items of Items| slice:0:4" class="col-md-2 col-sm-2 col-xs-12 col-lg-2 newcart" style="">
    <p class="off">{{items.discount}}% Off</p>
    <img class="cartimg" style="" src="{{items.img_url}}">
    <footer>
    <p class="bookname">{{items.name}}</p>
   <p class="booktype">{{items.type}}</p>
    <p class="bookprice">${{items.price}}</p>
    <button class="tocart">Add to cart</button>
  </footer>
    </div>
  
  
    
  </div> 

  <div class="row four">
      
      <div  *ngFor="let items of Items| slice:4:8" class="col-md-2 col-sm-2 col-xs-12 col-lg-2 newcart" style="">
      <p class="off">{{items.discount}}% Off</p>
      <img class="cartimg" style="" src="{{items.img_url}}">
      <footer>
      <p class="bookname">{{items.name}}</p>
     <p class="booktype">{{items.type}}</p>
      <p class="bookprice">${{items.price}}</p>
      <button class="tocart">Add to cart</button>
    </footer>
      </div>
    
      
    </div> 


  

  

  
</div>

</body>
</html>

